<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>

	<h1>{{restaurant.name}}</h1>
	
	<a href="{{url_for('showRestaurants')}}">Back</a>

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
			{% for message in messages %}
				<li><strong>{{ message }}</strong></li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}

	{% if items.count() <= 0 %}
	<div>
		<p>No items</p>
	</div>
	{% endif %}

	{% for i in items %}

	<div>

		<p>{{i.name}}</p>

		<p>{{i.description}}</p>

		<p> {{i.price}} </p>
	</div>


	{% endfor %}
</body>
</html>